<div class="input-wrapper">
    <input
            name="{{name}}"
            type="number"
            class="input-number {{modifier}}"
            placeholder="{{placeholder}}"
            data-validation="{{validation}}"
            value="{{value}}"
            {{#equals required "true"}}required="required"{{/equals}}
    />
    <label for="{{name}}">{{label}}{{#equals required "true"}}*{{/equals}}</label>
</div>
