<label for="{{name}}">{{name}}</label>
<input
        name="{{name}}"
        type="text"
        class="input-text {{modifier}}"
        placeholder="{{placeholder}}"
        data-validation="{{validation}}"
/>
