<h{{relevance}} class="h{{relevance}} ml-title ml-title--colorful  ml-title--colorful--primary">
    <div class="ml-title--colorful-image">
        <picture>
            <img src={{image}}
                         alt={{text}}
                 description={{text}}
            />
        </picture>
    </div>
    <div class="ml-title--colorful-ribbon">
        <span class="title">{{text}}</span>
    </div>
</h{{relevance}}>