{{#if Posts.length}}
    <div class="og-block-social-ink ml-block-shadow ml-block-shadow--rounded item_navigation_container">
        <div class="l-2columns-left">
            <div class="col">
                <div class="image" alt="" style="background-image:url('{{Posts.[0].image}}')"/>
            </div>
            <div class="content">
                <div class="ml-imagebox _template" data-component="imagebox" data-template="components/imagebox"></div>
                <div class="character_count content">
                    <p class="p">{{Posts.[0].content}}</p>
                    <a class="a" href="{{Posts.[0].url}}">{{Posts.[0].url}}</a>
                    <div class="ml-hashtags">
                        {{#each Posts.[0].hashtags}}
                            <span class="span hashtag">#{{this}}</span>
                        {{/each}}
                    </div>
                </div>

                <div class="ml-buttons-group">
                    <button class="button button--secondary button--secondary--glow ink-date">Fecha</button>
                    <button class="button button--primary button--primary--glow ink-submit">Marcar</button>
                </div>

                <div class="counter set_character_count">{{Posts.[0].characters}}</div>
            </div>
        </div>
    </div>
{{/if}}