<div class="og-product-list-element">
    <h2 class="og-product-list-element-heading">{{name}} Hola</h2>
    <div class="og-product-list-element-image-wrapper">
        <img src="{{image}}" alt="title"/>
    </div>

    <a class="og-product-list-element-link" href="{{relativePath}}/{{link}}">Leer más</a>
    <p class="og-product-list-element-description">{{description}}</p>
</div>