<div class="og-banner-fold-element">
    <div class="og-banner-fold-element-heading">{{head}}</div>
    <div class="og-banner-fold-element-columns">
        <div class="og-banner-fold-element-highlight">{{section}}</div>
        <hr>
        <div class="og-banner-fold-element-columns-vertical">
            <span>{{{claim}}}</span>
            <a href="{{link}}" class="og-banner-fold-element-button">
                {{button}}
            </a>
        </div>
    </div>
</div>